*{
    margin:0;
    padding:0;
}
.container{
    max-width:1320px;
    margin:0 auto;
    
}
body{
    background:#FFFFFF;
    color:#0B0223;
    font-family:'Poppins', sans-serif;
}
/* =======================navber-part-start============= */
#navber-part{
    padding-top:37px;
    padding-bottom:37px;
    background:#FFFFFF;
}
.navber-left-part{
    display:flex;
    align-items:center;
}
.nav-left-text > h2{
    color:#0B0223;
    font-size:35px;
    font-weight:700;
    font-family: 'Poppins', sans-serif;
    padding-left:10px;

}
.nav-left-text .nav-span-g{
    color:#f2004f;
}
.navber-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.navber-right-part ul{
    display:flex;
    list-style:none;
    align-items:center;
}
.navber-right-part ul li a{
    color:#3C354F;
    font-size:18px;
    font-weight:400;
    margin-right:15px;
    margin-left:15px;
    text-decoration:none;
}
.nav-follow-us-div{
    padding:16px;
    border-radius:5px;
    display:flex;
    align-items:center;
    background:#E6E6E6;
}
.nav-follow-us-div > h3{
    color:#3C354F;
    font-size:20px;
    font-weight:500;
    margin-right:10px;

}
.nav-follow-us-div > img{
    margin-right:10px;
    cursor:pointer;
    height:23px;
}

/* =======================navber-part-end============= */
/* =======================banner-part-start============= */
#banner-part{
    background:#fff9f9;
}

.banner-wrapper{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.banner-text h2{
    color:#0B0223;
    font-size:35px;
    font-weight:600;

}
.banner-text h1{
    color:#94418f;
    font-size:60px;
    font-weight:700;
 
}
.banner-text h1{
    color:#94418f;
    font-size:60px;
    font-weight:700;
 
}
.banner-text .banner-span-one{
    color:#0B0223;
    font-size:14px;
    font-weight:400;
    display:block;
    margin-bottom:5px;

}
.banner-buttons{
    margin-top:40px;
}
.banner-buttons .banner-button-one{
    color:#FFFFFF;
    font-size:14px;
    padding:15px 40px;
    background:#f45d8e;
    border-radius:30px;
    border:none;
    margin-right:10px;

}
.banner-buttons .banner-button-two{
    color:#FFFFFF;
    font-size:14px;
    padding:15px 40px;
    background:#4EC5F7;
    border-radius:30px;
    border:none

}
.banner-img > img{
    width:570px;
}


/* =======================banner-part-end============= */
/* =======================we-are-gammer-part-start============= */
.we-are-gamer-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.we-are-text{
    text-align:right;
}
.we-are-text h3{
    color:#ca44ad;
    font-size:30px;
    font-weight:700;
}
.we-are-text p{
    color:#000000;
    font-size:14px;
    font-weight:400;
    padding:10px 0;
}
.we-are-gamer-item .gamer-button{
    color:#FFFFFF;
    font-size:14px;
    padding:15px 40px;
    background:#f45d8e;
    border-radius:30px;
    border:none;
    margin-top:10px;
    margin-bottom:10px;
}
.we-are-text h4{
    color:#000000;
    font-size:20px;
    font-weight:500;
}

/* =======================we-are-ganner-part-end============= */
/* =======================online-part-============= */
#online-games{
    margin-top:50px;
    margin-bottom:50px;
}
.online-games-title-text{
    text-align:center;
    margin-bottom:50px;
}
.online-games-title-text h3{
    color:#000000;
    font-size:25px;
    font-weight:700;
}
.online-games-title-text .online-games-span{
    color:#ca44ad;
    padding-left:5px;
}
.online-games-wrapper{
    display:flex;
    justify-content:space-between;
}
.card-img > img{
    width:299px;
}
.online-games-card-item{
    /* width:300px; */
    padding-right:41px;
    cursor:pointer;
}
.overlay-icon{
    text-align:center;
}

.card-img{
    position:relative;
}
.overlay-text h4{
    color:rgb(254, 254, 254);
    font-size:18px;
    font-weight:400;
}
.card-text h3{
    color: #000000;
    font-size:17px;
    font-weight:400;
   

 }
.overlay{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50% ,-50%);
    cursor:pointer;
    opacity:0;
    visibility:hidden;
    transition:all linear 0.3s;
}
.online-games-card-item:hover .overlay{
    opacity:1;
    visibility:visible;
}

/* =======================online-part-end============= */
/* =========================== */
#play-games{
    margin-top:100px;
    margin-bottom:100px;
}
.play-games-wrapper{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.play-games-text{
    text-align:right;
    margin-right:200px;
}
.play-games-img img{
    width:570px;
}
.play-games-text .play-games-span-one {
	color: #ac53ac;
	font-size: 25px;
	font-weight: 700;
	display: block;
}
.play-games-text .play-games-span-two {
	color: #000000;
	font-size: 25px;
	font-weight: 700;
	display: block;
}
.play-games-text .play-games-span-three {
	color: #000000;
	font-size: 25px;
	font-weight: 700;
	display: block;
}
.play-games-text p{
	color: #000000;
	font-size: 14px;
	font-weight: 400;
	display: block;
    padding-left:50px;
}
.position-img img{
    width:300px;
}
.play-games-img{
    position:relative;
}
.position-img {
	position: absolute;
	bottom: -82px;
	left: -144px;
}
/* ============================== */
/* =================================== */
.logo-item {
	display: flex;
	align-items: center;
	width: 207px;
	padding: 5px;
}
.logo-item h3{
    color:black;
    font-size:18px;
    font-weight:400px;
}
.logo-item:hover{
    border: 1px solid firebrick;
    border-radius:30px;
}
.logo-item:hover h3{
    color:firebrick;
}
.logo-item img{
    margin-right:5px;
}
.logo-wrapper{
    display:grid;
    grid-template-columns: repeat(5, 100px); 
    grid-template-rows: repeat(4, 100px);
    column-gap: 180px;
    row-gap: 10px;;
}


/* =================================== */
/* =================================== */
#footer{
    background:#0B0223;
    padding:120px 0;
}
.footer-top-text{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom:20px;
}
.footer-left-text > h2{
    color:#fff9f9;
    font-size:35px;
    font-weight:700;
    font-family: 'Poppins', sans-serif;
    padding-left:10px;

}
.footer-left-text .nav-span-g{
    color:#f2004f;
}
.footer-item{
    text-align:center;
    margin:0 auto
}
.footer-list ul{
    display:flex;
    justify-content:center
}
.footer-list li{
    display:flex;
    list-style: none;;
    
}
.footer-list li a{
    color:#fff9f9;
  text-decoration:none;
  margin-right:15px;
  margin-left:15px;
 
}
.footer-icon{
    margin-top:20px;
}
.footer-icon img{
    margin-right:20px;
}
.footer-terms{
    margin-top:20px;
}
.footer-terms ul{
    display:flex;
    justify-content:center
}
.footer-terms li{
    display:flex;
    list-style: none;;
    
}
.footer-terms li a{
    color:#fff9f9;
  text-decoration:none;
  margin-right:15px;
  margin-left:15px;
 
}
.footer-copy-div{
    padding-top:20px;
}
.footer-copy-div a{
    color:#fff9f9;
    font-size:14px;
    font-weight:400;
    text-decoration:none;
   
}

/* =================================== */
/* =============responsive for mobile================ */

@media screen and (max-width:676px){
    .navber-left-part{
        justify-content:center;
        margin-bottom:50px;
    }
     .navber-item{
        flex-direction: column;
     }
     .navber-right-part ul{
        flex-direction:column;
     }
     .navber-right-part ul li{
        margin-bottom:25px;
     }
     /* -------------nav-part--------- */
     .banner-wrapper{
        flex-direction: column-reverse;
     }
     .banner-text{
        margin-top:40px;
     }
     .banner-img img{
        width:546px;
     }
     /* --------------banner-part------------ */
     .we-are-gamer-item{
        flex-direction:column;
     }
     .we-are-img img{
        width:546px;
     }
     .we-are-text{
        text-align:center;
        width:500px;
     }
     .we-are-gamer-item{
        align-items:center;
     }
     /* -----------------online-games----------------- */
     #online-games{
        margin-top:80px;
        background:#f9f9f9
     }
     .online-games-wrapper{
        flex-direction: column;
        justify-content: center;;
     }
     .online-games-card-item{
        text-align:center;
     }
     .card-text h3{
        color: #000000;
        font-size:10px;
        font-weight:400;
        padding-top:10px;
        margin-bottom:20px;

     }
     .online-games-card-item{
        padding-right:0;
     }
     .overlay{
        display:none;

     }
     /* ---------------------------- */
     .play-games-text{
        text-align:center;
        margin-right:0;
     }
     .play-games-text > span{
        margin-bottom:10px;
     }
     .play-games-text p{
        margin-bottom:10px;
        padding: 0 103px;
     }
     .play-games-img > img{
        width:380px;
     }
    .play-games-wrapper{
        flex-direction: column;
    }
    .position-img > img{
        width:200px;
    }
    .position-img {
        position: absolute;
        bottom: -46px;
        left: -100px;
    }
    /* --------------------------- */
    .logo-wrapper{
        display:grid;
        grid-template-columns: repeat(3, 100px); 
        grid-template-rows: repeat(3, 100px);
        column-gap: 180px;
        row-gap: 10px;;
    }
    .logo-wrapper{
        column-gap: 90px;
        row-gap: 10px;;
    }

}
/* =============responsive for mobile================ */
/* =============responsive for tab================ */
@media screen and (min-width:576px) and (max-width:768px) {
     .container{
        max-width:720px;
     }
     .navber-item{
        align-items:center;
     }
     .navber-left-part{
        margin-bottom:80px;
     }
     /* -------------------nav-part------------ */
     .banner-img img{
        width:338px;
     }
     /* ---------------banner-part-------------------- */
     #we-are-gamer{
        margin-top:50px;
     }
     .we-are-img img {
        width: 333px;
        height: 310px;
        text-align:center;
    }
     .we-are-text{
        text-align:center;
     }
     .online-games-wrapper{
        flex-direction: column;
        display:grid;
        grid-template-columns:repeat(2 ,1fr);
     }
     .card-text h3{
        color: #000000;
        font-size:10px;
        font-weight:400;
        padding-top:10px;
        margin-bottom:20px;

     }
     /* -------------------------- */
     .play-games-text{
        text-align:center;
        margin-right:0;
     }
     .play-games-text > span{
        margin-bottom:10px;
     }
     .play-games-text p{
        margin-bottom:10px;
        padding: 0 103px;
     }
     .play-games-img > img{
        width:380px;
     }
    .play-games-wrapper{
        flex-direction: column;
    }
    .position-img > img{
        width:200px;
    }
    .position-img {
        position: absolute;
        bottom: -46px;
        left: -100px;
    }
    .online-games-card-item {
        /* width: 300px; */
        padding-right:0;
        text-align:center;
        cursor:revert;
    }
    .overlay{
        display:none;
    }
} 
/* =============responsive for tab================ */
